<%- include('../partials/header') %>

<h1>Prayer Requests</h1>
    
    <div class="list-group">
      <%prayer.forEach(pray => { %>
        <form action="/prayers/<%= pray.prayer %>?_method=DELETE" method="POST" class="delete-form"> 
          <button type="submit">Delete</button> 
          <ul>
            <li>
              <a href="/prayers/<%= prayer.id %> " class="list-group-item list-group-item-action"> 
                <%= pray.id %>: <%= pray.done ? 'Answered' : 'Not Answered Yet' %></a>
              <% console.log('THIS IS YOUR ', prayer) %> 
              <% }) %> 
            </li>
          </ul>
          </div>
        </form>   
       <a href="/prayers/new" type="submit" class="btn btn-primary" name="prayer">Add New Prayer</a>
      </form>


<%- include('../partials/footer') %>