<%- include('../partials/header') %>

<%= prayer.content %> 
<h5>Posted on <%= prayer.createdAt.toLocaleString() %> - <%= prayer.postedBy %> <img id="avatarPhoto" width="30" src="<%= user.avatar %>" alt=""></h5>
  <div class="jumbotron" style="text-align:left; border-end-end-radius: 50%; margin: 100px; margin-top: 25px; background-color: rgba(0, 0, 0, .6);">
      <% prayer.replies.forEach(reply => { %>
          <h6 style=""><%= reply.message %> - <%= reply.postedBy %> <img id="avatarPhoto" width="25" src="<%= reply.avatar %>" alt=""></h6>
      <% }) %>

  </div>      
<form action="/prayers/<%= prayer._id %>/replies" method="POST">
    <div class="form-group">
      <input type="text" class="form-control" aria-describedby="message" name="message" placeholder="Enter reply...">
    </div>
    <button type="submit" class="btn btn-primary">Reply</button>
  </form>

    <%- include('../partials/footer') %>
