<%- include('../partials/header') %>

<body>
 
  <h3></h3>
<% users.forEach(u => { %>
  <a href="/users/<%= u._id %>"> 
    <div class="card" style="width: 1000px; padding: 20px; background-color: seashell; color: darkslategrey; opacity: .8;">
      <div class="card-body">
      <img height="75" id="avatarPhoto" src="<%= u.avatar ? u.avatar : 'https://picsum.photos/seed/picsum/300/300' %>" alt=""> 
        <%= u.name %></a> - Joined on <%= u.createdAt.toLocaleString().split(',')[0] %>
      </div>
    </div><br>
<% }) %>


<%- include('../partials/footer') %>