<%- include('../partials/header') %>



    <div class="subheader">
      <div class="container flex">
        <div class="subheadings">
          <h2><%= title %> </h2>
          <% if (results){%>
            <Table>
              <tr>
                <h2><%=  results.book %></h2>
                <!-- <h4><%#= results.chapters[0]chapter[0].text%> </h4> -->
                <% results.chapters.forEach((chapter, idx) =>{ %>
                  <h4>Chapter <%= idx + 1 %> </h4>
                  <% chapter.verses.forEach((verse, id) => { %> 
                      <p><%= id + 1 %>. <%= verse.text %></p>
                      
                   <% }); %> 
                    
                  <% }) %>
              </tr>
            </Table>
         <% } %> 
        </div>
      </div>
    </div>
    <main class="container">
      <div id="bible-version-list" class="list-container bible-list"></div>
    </main>
    

    <%- include('../partials/footer') %>