<%- include('../partials/header') %>




<h2><%=  results.book %></h2>
<nav id="navbar-example3" class="navbar navbar-light bg-light">
  <nav class="nav nav-pills flex-column">
    
    <a class="nav-link" href="Genesis">Genesis</a>
    <a class="nav-link" href="Exodus">Exodus</a>
    <a class="nav-link" href="Leviticus">Leviticus</a>
    <a class="nav-link" href="Numbers">Numbers</a>
    <a class="nav-link" href="Deuteronomy">Deuteronomy</a>
    <a class="nav-link" href="Joshua">Joshua</a>
    <a class="nav-link" href="Judges">Judges</a>
    <a class="nav-link" href="Ruth">Ruth</a>
    <a class="nav-link" href="1Samuel">1Samuel</a>
    <a class="nav-link" href="2Samuel">2 1KingsSamuel</a>
    <a class="nav-link" href="1Kings">1 2KingsKings</a>
    <a class="nav-link" href="2Kings">2 1 ChroniclesKings</a>
    <a class="nav-link" href="1Chronicles">1 Chronicles</a>
    <a class="nav-link" href="2Chronicles">2 EzraNehemiahChronicles</a>
    <a class="nav-link" href="EzraNehemiah">EzraNehemiah</a>
    <a class="nav-link" href="Nehemiah">Nehemiah</a>
    <a class="nav-link" href=""></a>
    <a class="nav-link" href=""></a>
    <a class="nav-link" href=""></a>
    <a class="nav-link" href=""></a>
    <a class="nav-link" href=""></a>
    <a class="nav-link" href=""></a>
    <a class="nav-link" href=""></a>
    <a class="nav-link" href=""></a>
    <a class="nav-link" href=""></a>
    <a class="nav-link" href=""></a>
    <a class="nav-link" href=""></a>
    <a class="nav-link" href=""></a>
    <a class="nav-link" href=""></a>
    <a class="nav-link" href=""></a>
    <a class="nav-link" href=""></a>
    <a class="nav-link" href=""></a>
    <a class="nav-link" href=""></a>
    <a class="nav-link" href=""></a>
    <a class="nav-link" href=""></a>
    <a class="nav-link" href=""></a>
    <a class="nav-link" href=""></a>
    <a class="nav-link" href=""></a>
    <a class="nav-link" href=""></a>
    <a class="nav-link" href=""></a>
    <a class="nav-link" href=""></a>
    <a class="nav-link" href=""></a>
    <a class="nav-link" href=""></a>
    <a class="nav-link" href=""></a>
    <a class="nav-link" href=""></a>
    <a class="nav-link" href=""></a>
    <a class="nav-link" href=""></a>
    <a class="nav-link" href=""></a>
  </nav>
</nav>

<div data-spy="scroll" data-target="#navbar-example3" data-offset="0"></div>
      <% if (results){%>
        <Table>
          <tr>
      <% results.chapters.forEach((chapter, idx) =>{ %>
        <h4 id="item-1"></h4>Chapter <%= idx + 1 %> </h4>
        <% chapter.verses.forEach((verse, id) => { %> 
            <p><%= id + 1 %>. <%= verse.text %></p>
        </div>
        
                   <% }); %> 
                    
                  <% }) %>
              </tr>
            </Table>
         <% } %> 
        </div>
      </div>
    </div>
    <main class="container">
      <div id="bible-version-list" class="list-container bible-list"></div>
    </main>
    

    <%- include('../partials/footer') %>