<%- include('../partials/header') %>

<nav id="navbar-example3" class="navbar navbar-light bg-light">
  <nav class="nav nav-pills flex-column">
    <div class="btn-group dropright">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Old Testament
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="Genesis">Genesis</a>
        <a class="dropdown-item" href="Exodus">Exodus</a>
        <a class="dropdown-item" href="Leviticus">Leviticus</a>
        <a class="dropdown-item" href="Numbers">Numbers</a>
        <a class="dropdown-item" href="Deuteronomy">Deuteronomy</a>
        <a class="dropdown-item" href="Joshua">Joshua</a>
        <a class="dropdown-item" href="Judges">Judges</a>
        <a class="dropdown-item" href="Ruth">Ruth</a>
        <a class="dropdown-item" href="1Samuel">1 Samuel</a>
        <a class="dropdown-item" href="2Samuel">2 Samuel</a>
        <a class="dropdown-item" href="1Kings">1 Kings</a>
        <a class="dropdown-item" href="2Kings">2 Kings</a>
        <a class="dropdown-item" href="1Chronicles">1 Chronicles</a>
        <a class="dropdown-item" href="2Chronicles">2 Chronicles</a>
        <a class="dropdown-item" href="Ezra">Ezra</a>
        <a class="dropdown-item" href="Nehemiah">Nehemiah</a>
        <a class="dropdown-item" href="Esther">Esther</a>
        <a class="dropdown-item" href="Job">Job</a>
        <a class="dropdown-item" href="Psalms">Psalms</a>
        <a class="dropdown-item" href="Proverbs">Proverbs</a>
        <a class="dropdown-item" href="Ecclesiastes">Ecclesiastes</a>
        <a class="dropdown-item" href="SongofSolomon">Song of Songs</a>
        <a class="dropdown-item" href="Isaiah">Isaiah</a>
        <a class="dropdown-item" href="Jeremiah">Jeremiah</a>
        <a class="dropdown-item" href="Lamentations">Lamentations</a>
        <a class="dropdown-item" href="Ezekiel">Ezekiel</a>
        <a class="dropdown-item" href="Daniel">Daniel</a>
        <a class="dropdown-item" href="Hosea">Hosea</a>
        <a class="dropdown-item" href="Joel">Joel</a>
        <a class="dropdown-item" href="Amos">Amos</a>
        <a class="dropdown-item" href="Obadiah">Obadiah</a>
        <a class="dropdown-item" href="Jonah">Jonah</a>
        <a class="dropdown-item" href="Micah">Micah</a>
        <a class="dropdown-item" href="Nahum">Nahum</a>
        <a class="dropdown-item" href="Habakkuk">Habakkuk</a>
        <a class="dropdown-item" href="Zephaniah">Zephaniah</a>
        <a class="dropdown-item" href="Haggai">Haggai</a>
        <a class="dropdown-item" href="Zechariah">Zechariah</a>
        <a class="dropdown-item" href="Malachi">Malachi</a>
      </div>
        
      <div class="btn-group dropright">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          New Testament
        </button>
        <div class="dropdown-menu">
        <a class="dropdown-item" href="Matthew">Matthew</a>
        <a class="dropdown-item" href="Mark">Mark</a>
        <a class="dropdown-item" href="Luke">Luke</a>
        <a class="dropdown-item" href="John">John</a>
        <a class="dropdown-item" href="Acts">Acts</a>
        <a class="dropdown-item" href="Romans">Romans</a>
        <a class="dropdown-item" href="1Corinthians">1 Corinthians</a>
        <a class="dropdown-item" href="2Corinthians">2 Corinthians</a>
        <a class="dropdown-item" href="Galatians">Galatians</a>
        <a class="dropdown-item" href="Ephesians">Ephesians</a>
        <a class="dropdown-item" href="Philippians">Philippians</a>
        <a class="dropdown-item" href="Colossians">Colossians</a>
        <a class="dropdown-item" href="1Thessalonians">1 Thessalonians</a>
        <a class="dropdown-item" href="2Thessalonians">2 Thessalonians</a>
        <a class="dropdown-item" href="1Timothy">1 Timothy</a>
        <a class="dropdown-item" href="2Timothy">2 Timothy</a>
        <a class="dropdown-item" href="Titus">Titus</a>
        <a class="dropdown-item" href="Philemon">Philemon</a>
        <a class="dropdown-item" href="Hebrews">Hebrews</a>
        <a class="dropdown-item" href="James">James</a>
        <a class="dropdown-item" href="1Peter">1 Peter</a>
        <a class="dropdown-item" href="2Peter">2 Peter</a >
          <a class="dropdown-item" href="1John">1 John</a >
            <a class="dropdown-item" href="2John">2 John</a >
              <a class="dropdown-item" href="3John">3 John</a>
              <a class="dropdown-item" href="Jude">Jude</a>
              <a class="dropdown-item" href="Revelation">Revelation</a>
          </div>
          </div>
        </nav>
      </nav>
      
      
  <div class="jumbotron jumbotron-fluid" style="color: black;">
  <% if (results){%>
    <div class="container">
      <h2 class="display-4"><%=  results.book %></h2>
    <% results.chapters.forEach((chapter, idx) =>{ %>
      <h4>Chapter <%= idx + 1 %> </h4>
    <% chapter.verses.forEach((verse, id) => { %> 
      <p class="lead"><%= id + 1 %>. <%= verse.text %></p>
      <% }); %> 
    <% }) %>
  <% } %> 
    </div>
  </div>  
    

    <%- include('../partials/footer') %>