<%- include('../partials/header') %>


<H1>hello

</H1>

<h2><%=  results.book %></h2>
<nav id="navbar-example3" class="navbar navbar-light bg-light">
  <nav class="nav nav-pills flex-column">
  <main class="container">

    <div id="bible-version-list" class="list-container bible-list">
      
      
      <a class="nav-link" href="Genesis">Genesis</a>
      <a class="nav-link" href="Exodus">Exodus</a>
      <a class="nav-link" href="Leviticus">Leviticus</a>
      <a class="nav-link" href="Numbers">Numbers</a>
      <a class="nav-link" href="Deuteronomy">Deuteronomy</a>
      <a class="nav-link" href="Joshua">Joshua</a>
      <a class="nav-link" href="Judges">Judges</a>
      <a class="nav-link" href="Ruth">Ruth</a>
      <a class="nav-link" href="1Samuel">1 Samuel</a>
      <a class="nav-link" href="2Samuel">2 Samuel</a>
      <a class="nav-link" href="1Kings">1 Kings</a>
      <a class="nav-link" href="2Kings">2 Kings</a>
      <a class="nav-link" href="1Chronicles">1 Chronicles</a>
      <a class="nav-link" href="2Chronicles">2 Chronicles</a>
      <a class="nav-link" href="Ezra">Ezra</a>
      <a class="nav-link" href="Nehemiah">Nehemiah</a>
      <a class="nav-link" href="Esther">Esther</a>
      <a class="nav-link" href="Job">Job</a>
      <a class="nav-link" href="Psalms">Psalms</a>
      <a class="nav-link" href="Proverbs">Proverbs</a>
      <a class="nav-link" href="Ecclesiastes">Ecclesiastes</a>
      <a class="nav-link" href="SongofSolomon">Song of Songs</a>
      <a class="nav-link" href="Isaiah">Isaiah</a>
      <a class="nav-link" href="Jeremiah">Jeremiah</a>
      <a class="nav-link" href="Lamentations">Lamentations</a>
      <a class="nav-link" href="Ezekiel">Ezekiel</a>
      <a class="nav-link" href="Daniel">Daniel</a>
      <a class="nav-link" href="Hosea">Hosea</a>
      <a class="nav-link" href="Joel">Joel</a>
      <a class="nav-link" href="Amos">Amos</a>
      <a class="nav-link" href="Obadiah">Obadiah</a>
      <a class="nav-link" href="Jonah">Jonah</a>
      <a class="nav-link" href="Micah">Micah</a>
      <a class="nav-link" href="Nahum">Nahum</a>
      <a class="nav-link" href="Habakkuk">Habakkuk</a>
      <a class="nav-link" href="Zephaniah">Zephaniah</a>
      <a class="nav-link" href="Haggai">Haggai</a>
      <a class="nav-link" href="Zechariah">Zechariah</a>
      <a class="nav-link" href="Malachi">Malachi</a>
      <a class="nav-link" href="Matthew">Matthew</a>
      <a class="nav-link" href="Mark">Mark</a>
      <a class="nav-link" href="Luke">Luke</a>
      <a class="nav-link" href="John">John</a>
      <a class="nav-link" href="Acts">Acts</a>
      <a class="nav-link" href="Romans">Romans</a>
      <a class="nav-link" href="1Corinthians">1 Corinthians</a>
      <a class="nav-link" href="2Corinthians">2 Corinthians</a>
      <a class="nav-link" href="Galatians">Galatians</a>
      <a class="nav-link" href="Ephesians">Ephesians</a>
      <a class="nav-link" href="Philippians">Philippians</a>
      <a class="nav-link" href="Colossians">Colossians</a>
      <a class="nav-link" href="1Thessalonians">1 Thessalonians</a>
      <a class="nav-link" href="2Thessalonians">2 Thessalonians</a>
      <a class="nav-link" href="1Timothy">1 Timothy</a>
      <a class="nav-link" href="2Timothy">2 Timothy</a>
      <a class="nav-link" href="Titus">Titus</a>
      <a class="nav-link" href="Philemon">Philemon</a>
      <a class="nav-link" href="Hebrews">Hebrews</a>
      <a class="nav-link" href="James">James</a>
      <a class="nav-link" href="1Peter">1 Peter</a>
      <a class="nav-link" href="2Peter">2 Peter</a >
        <a class="nav-link" href="1John">1 John</a >
          <a class="nav-link" href="2John">2 John</a >
            <a class="nav-link" href="3John">3 John</a>
            <a class="nav-link" href="Jude">Jude</a>
            <a class="nav-link" href="Revelation">Revelation</a>
  </main>
  </div>
</nav>
</nav>


      <div data-spy="scroll" data-target="#navbar-example3" data-offset="0"></div>
      <% if (results){%>
    <Table>
      <tr>
  <% results.chapters.forEach((chapter, idx) =>{ %>
    <h4>Chapter <%= idx + 1 %> </h4>
  <% chapter.verses.forEach((verse, id) => { %> 
    <p><%= id + 1 %>. <%= verse.text %></p>
  <% }); %> 
<% }) %>
<% } %> 
      </tr>
  </Table>
    

    <%- include('../partials/footer') %>